.env
/vendor/
/node_modules/
/public/build/
/public/hot
/.scaffold/
/.phpunit.cache/
/.phpunit.result.cache
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/.idea/
/npm-cache/

/phpunit.xml.bak
/data/names_by_country
package-lock.json
data/names_by_country.zip
php_errors.log
